doctype html

// TOOLBAR
.toolbar(layout='row', layout-align='space-between center')
    div(layout='row', layout-align='start center')
        // THREAD LIST SPECIFIC ACTIONS
        md-checkbox.no-label(aria-label="{{vm.selectedThreads.length > 0 ? 'Deselect All' : 'Select All'}}", ng-checked='vm.selectedThreads.length > 0', ng-click='vm.toggleSelectThreads()', ng-if='!vm.currentThread')
        md-menu.select-menu(ng-if='!vm.currentThread')
            md-button.md-icon-button(ng-click='$mdOpenMenu($event)', aria-label='Filters', translate, translate-attr-aria-label='MAIL.FILTERS')
                md-icon(md-font-icon='icon-menu-down')
            md-menu-content(width='3')
                md-menu-item
                    md-button(ng-click='vm.selectThreads()', aria-label='All', translate='MAIL.ALL', translate-attr-aria-label='MAIL.ALL')
                        | All
                md-menu-item
                    md-button(ng-click='vm.deselectThreads()', aria-label='None', translate='MAIL.NONE', translate-attr-aria-label='MAIL.NONE')
                        | None
                md-menu-item
                    md-button(ng-click="vm.selectThreads('read', true)", aria-label='Read', translate='MAIL.READ', translate-attr-aria-label='MAIL.READ')
                        | Read
                md-menu-item
                    md-button(ng-click="vm.selectThreads('read', false)", aria-label='Unread', translate='MAIL.UNREAD', translate-attr-aria-label='MAIL.UNREAD')
                        | Unread
                md-menu-item
                    md-button(ng-click="vm.selectThreads('important', true)", aria-label='Important', translate='MAIL.IMPORTANT', translate-attr-aria-label='MAIL.IMPORTANT')
                        | Important
                md-menu-item
                    md-button(ng-click="vm.selectThreads('important', false)", aria-label='Not Important', translate='MAIL.NOT_IMPORTANT', translate-attr-aria-label='MAIL.NOT_IMPORTANT')
                        | Not Important
                md-menu-item
                    md-button(ng-click="vm.selectThreads('starred', true)", aria-label='Starred', translate='MAIL.STARRED', translate-attr-aria-label='MAIL.STARRED')
                        | Starred
                md-menu-item
                    md-button(ng-click="vm.selectThreads('starred', false)", aria-label='Unstarred', translate='MAIL.UNSTARRED', translate-attr-aria-label='MAIL.UNSTARRED')
                        | Unstarred
        // SINGLE THREAD SPECIFIC ACTIONS
        md-button.md-icon-button.close-thread(aria-label='Back', ng-click='vm.closeThread()', ng-if='vm.currentThread', translate, translate-attr-aria-label='MAIL.BACK')
            md-icon(md-font-icon='icon-keyboard-backspace')
        // ACTION BUTTONS
        .action-buttons(layout='row', layout-align='start center', ng-show='vm.selectedThreads.length > 0 || vm.currentThread', hide, show-gt-xs)
            .divider-vertical
            md-button.md-icon-button(aria-label='Archive', translate, translate-attr-aria-label='MAIL.ARCHIVE')
                md-icon(md-font-icon='icon-archive')
                md-tooltip
                    span(translate='MAIL.ARCHIVE') Archive
            md-button.md-icon-button(aria-label='Spam', translate, translate-attr-aria-label='MAIL.SPAM')
                md-icon(md-font-icon='icon-alert-octagon')
                md-tooltip
                    span(translate='MAIL.SPAM') Spam
            md-button.md-icon-button(aria-label='Delete', translate, translate-attr-aria-label='MAIL.DELETE')
                md-icon(md-font-icon='icon-delete')
                md-tooltip
                    span(translate='MAIL.DELETE') Delete
            .divider-vertical
            md-button.md-icon-button(aria-label='Move to', translate, translate-attr-aria-label='MAIL.MOVE_TO')
                md-icon(md-font-icon='icon-folder')
                md-tooltip
                    span(translate='MAIL.MOVE_TO') Move to
            md-menu
                md-button.md-icon-button(aria-label='Labels', translate, translate-attr-aria-label='MAIL.LABELS', ng-click='$mdOpenMenu($event)')
                    md-icon(md-font-icon='icon-label')
                    md-tooltip
                        span(translate='MAIL.LABELS') Labels
                md-menu-content.thread-labels-toggle-list(width='3')
                    md-list
                        md-subheader.md-no-sticky
                            span(translate='MAIL.LABELS') Labels
                        md-list-item(ng-repeat='label in vm.labels', ng-click='vm.toggleLabel(label)')
                            div(layout='row', layout-align='start center')
                                .w-10.h-10.mr-16(ng-class='label.color')
                                div {{label.title}}
                            md-icon.md-secondary(md-font-icon='icon-checkbox-blank-outline', ng-if='vm.currentThread && !vm.isLabelExist(label)')
                            md-icon.md-accent.md-secondary(md-font-icon='icon-checkbox-marked', ng-if='vm.currentThread && vm.isLabelExist(label)')
            .divider-vertical
            md-menu
                md-button.md-icon-button(ng-click='$mdOpenMenu($event)', aria-label='MAIL.MORE', translate, translate-attr-aria-label='MAIL.MORE')
                    md-icon(md-font-icon='icon-dots-vertical')
                md-menu-content(width='3')
                    md-menu-item
                        md-button(ng-click="vm.setThreadStatus('read', true)")
                            span(translate='MAIL.MARK_AS_READ') Mark as read
                    md-menu-item
                        md-button(ng-click="vm.setThreadStatus('read', false)")
                            span(translate='MAIL.MARK_AS_UNREAD') Mark as unread
                    md-menu-item
                        md-button(ng-click="vm.setThreadStatus('important', true)")
                            span(translate='MAIL.MARK_AS_IMPORTANT') Mark as important
                    md-menu-item
                        md-button(ng-click="vm.setThreadStatus('important', false)")
                            span(translate='MAIL.MARK_AS_NOT_IMPORTANT') Mark as not important
                    md-menu-item
                        md-button(ng-click="vm.setThreadStatus('starred', true)")
                            span(translate='MAIL.ADD_STAR') Add star
                    md-menu-item
                        md-button(ng-click="vm.setThreadStatus('starred', false)")
                            span(translate='MAIL.REMOVE_STAR') Remove star
        // ACTIONS MENU
        md-menu.actions-menu(ng-show='vm.selectedThreads.length > 0 || vm.currentThread', hide-gt-xs)
            md-button.md-icon-button(ng-click='$mdOpenMenu($event)', aria-label='Mail Actions', translate, translate-attr-aria-label='MAIL.ACTIONS')
                md-icon(md-font-icon='icon-dots-vertical')
            md-menu-content(width='3')
                md-menu-item
                    md-button(aria-label='Archive', translate-attr-aria-label='MAIL.ARCHIVE')
                        md-icon(md-font-icon='icon-archive')
                        span(translate='MAIL.ARCHIVE') Archive
                md-menu-item
                    md-button(aria-label='Spam', translate-attr-aria-label='MAIL.SPAM')
                        md-icon(md-font-icon='icon-alert-octagon')
                        span(translate='MAIL.SPAM') Spam
                md-menu-item
                    md-button(aria-label='Delete', translate-aria-label='MAIL.DELETE')
                        md-icon(md-font-icon='icon-delete')
                        span(translate='MAIL.DELETE') Delete
                md-menu-item
                    md-button(aria-label='Move To', translate-attr-aria-label='MAIL.MOVE_TO')
                        md-icon(md-font-icon='icon-folder-move')
                        span(translate='MAIL.MOVE_TO') Move To
                md-menu-item
                    md-button(aria-label='Labels', translate-attr-aria-label='MAIL.LABELS')
                        md-icon(md-font-icon='icon-label')
                        span(translate='MAIL.LABELS') Labels
    div(layout='row', layout-align='start center')
        //- PAGE INFO
        span.page-info(hide-sm) 1 - 100 of 980
        md-button.md-icon-button.arrow(aria-label='Previous', translate, translate-attr-aria-label='MAIL.PREVIOUS')
            md-icon(md-font-icon='icon-chevron-left')
            md-tooltip
                span(translate='MAIL.PREVIOUS') Previous
        md-button.md-icon-button.arrow(aria-label='Next', translate, translate-attr-aria-label='MAIL.NEXT')
            md-icon(md-font-icon='icon-chevron-right')
            md-tooltip
                span(translate='MAIL.NEXT') Next

// CONTENT WRAPPER
.content-wrapper(layout='column', flex)
    div.content(ui-view='bridge')

    // // THREAD DETAIL
    // .content.thread-detail(ng-if='vm.currentThread', ms-scroll, flex)
    //     include ./detail/detail.pug

    // // THREAD LIST
    // .content.thread-list(ng-if='!vm.currentThread', ms-scroll, flex)
    //     include ./list/list.pug

