$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import '~angular-material/angular-material';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Import fuse core global.scss manually
@import './core/scss/global';

// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin';
@import 'main/main';
@import 'navigation/layouts/horizontal-navigation/navigation';
@import 'navigation/layouts/vertical-navigation-fullwidth-toolbar-2/navigation';
@import 'navigation/layouts/vertical-navigation/navigation';
@import 'quick-panel/quick-panel';
@import 'quick-panel/tabs/activity/activity-tab';
@import 'quick-panel/tabs/chat/chat-tab';
@import 'quick-panel/tabs/today/today-tab';
@import 'toolbar/layouts/content-with-toolbar/toolbar';
@import 'toolbar/layouts/horizontal-navigation/toolbar';
@import 'toolbar/layouts/vertical-navigation-fullwidth-toolbar-2/toolbar';
@import 'toolbar/toolbar';
@import '../components/footer/footer';
/* endinject */
