#monitor {
    .chartwrapper {
        position: relative;
        padding-bottom: 50%;
    }

    .chart {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

/* vim:set sw=4 ts=4 sts=4: */
