.md-inline-form
    p
        | Fill the 
        span.text-bold Lastname
        |  field to reveal the conditional step!
    div(layout='column', layout-gt-xs='row', flex='')
        md-input-container(flex='100', flex-gt-xs='50')
            input(type='text', name='firstname', ng-model='vm.verticalStepper.step1.firstname', placeholder='Firstname', required='')
            div(ng-messages='verticalStep1.firstname.$error', ng-show='verticalStep1.firstname.$touched', role='alert')
                div(ng-message='required')
                    span Firstname field is required.
        md-input-container(flex='100', flex-gt-xs='50')
            input(type='text', name='lastname', ng-model='vm.verticalStepper.step1.lastname', placeholder='Lastname')
            div(ng-messages='verticalStep1.lastname.$error', ng-show='verticalStep1.lastname.$touched', role='alert')
                div(ng-message='required')
                    span Lastname field is required.

